body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    max-width: 960px;
    margin: auto;
}
h1 {
    font-size: 3em;
    letter-spacing: .1em;
    padding-top: 2em;
    padding-bottom: 1em;
}

h2 {
    font-size: 2em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 40% 90%;
    margin-top: 3em;
}
header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .3em;
}

p {
    margin: .5em auto
}

hr {
    border: none;
    background-color: rgba(4, 40, 119, 0.425);
    height: 4px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft {
    border-right: 2px solid rgba(4, 40, 119, 0.425);
}
body {
    background-color: Light Gray;
  }
  #header {
    background-color: darkslateblue; /* Set the background color for the header */
    color: white; /* Set the text color for the header */
  }
  
  #hr {
    background-color: lightgray; /* Set the background color for the main section */
  }
  
  